# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
fashionheaven/.env
fashionheaven/.gitignore
fashionheaven/package-lock.json
fashionheaven/package.json
fashionheaven/README.md
fashionheaven/tsconfig.json
fashionheaven/public/favicon.ico
fashionheaven/public/index.html
fashionheaven/public/logo192.png
fashionheaven/public/logo512.png
fashionheaven/public/manifest.json
fashionheaven/public/robots.txt
fashionheaven/public/images/ao-dai.jpg
fashionheaven/public/images/Ao-khoac-Bomber-Nam.png
fashionheaven/public/images/ao-somi-nam.jpg
fashionheaven/public/images/ao-thun-nu.png
fashionheaven/public/images/ao-vest-nam.jpg
fashionheaven/public/images/Avant-Garde.jpg
fashionheaven/public/images/balo-da-nam.jpg
fashionheaven/public/images/Bieu-tuong-thoi-trang.png
fashionheaven/public/images/co-dien.jpg
fashionheaven/public/images/dong-ho-thong-minh.jpg
fashionheaven/public/images/dong-ho.jpg
fashionheaven/public/images/fashiondistrict(Admin).avif
fashionheaven/public/images/giay-boots-nam.jpg
fashionheaven/public/images/Giay-Sneaker-Nu.png
fashionheaven/public/images/kinh-mat-nu.jpg
fashionheaven/public/images/mau-sac-thoi-trang.jpg
fashionheaven/public/images/nuoc-hoa-ca-tinh.jpg
fashionheaven/public/images/phu-kien-thoi-trang-sang-trong.jpg
fashionheaven/public/images/quan-jean-nam.png
fashionheaven/public/images/thoi-trang-cn.jpg
fashionheaven/public/images/thoi-trang-cong-so.jpg
fashionheaven/public/images/thoi-trang-da-dang.jpg
fashionheaven/public/images/thoi-trang-gen-z.jpg
fashionheaven/public/images/thoi-trang-nam.jpg
fashionheaven/public/images/Thu-Dong.jpg
fashionheaven/public/images/trang-diem-mua-he-2025.jpg
fashionheaven/public/images/vay-lien-nu.jpg
fashionheaven/public/images/images/ao-dai.jpg
fashionheaven/public/images/images/Ao-khoac-Bomber-Nam.png
fashionheaven/public/images/images/ao-somi-nam.jpg
fashionheaven/public/images/images/ao-thun-nu.png
fashionheaven/public/images/images/ao-vest-nam.jpg
fashionheaven/public/images/images/Avant-Garde.jpg
fashionheaven/public/images/images/balo-da-nam.jpg
fashionheaven/public/images/images/Bieu-tuong-thoi-trang.png
fashionheaven/public/images/images/co-dien.jpg
fashionheaven/public/images/images/dong-ho-thong-minh.jpg
fashionheaven/public/images/images/dong-ho.jpg
fashionheaven/public/images/images/fashiondistrict(Admin).avif
fashionheaven/public/images/images/giay-boots-nam.jpg
fashionheaven/public/images/images/Giay-Sneaker-Nu.png
fashionheaven/public/images/images/kinh-mat-nu.jpg
fashionheaven/public/images/images/mau-sac-thoi-trang.jpg
fashionheaven/public/images/images/nuoc-hoa-ca-tinh.jpg
fashionheaven/public/images/images/phu-kien-thoi-trang-sang-trong.jpg
fashionheaven/public/images/images/quan-jean-nam.png
fashionheaven/public/images/images/thoi-trang-cn.jpg
fashionheaven/public/images/images/thoi-trang-cong-so.jpg
fashionheaven/public/images/images/thoi-trang-da-dang.jpg
fashionheaven/public/images/images/thoi-trang-gen-z.jpg
fashionheaven/public/images/images/thoi-trang-nam.jpg
fashionheaven/public/images/images/Thu-Dong.jpg
fashionheaven/public/images/images/trang-diem-mua-he-2025.jpg
fashionheaven/public/images/images/vay-lien-nu.jpg
fashionheaven/src/App.css
fashionheaven/src/App.test.tsx
fashionheaven/src/App.tsx
fashionheaven/src/config.ts
fashionheaven/src/index.css
fashionheaven/src/index.tsx
fashionheaven/src/logo.svg
fashionheaven/src/react-app-env.d.ts
fashionheaven/src/reportWebVitals.ts
fashionheaven/src/setupTests.ts
fashionheaven/src/components/Footer.css
fashionheaven/src/components/Footer.tsx
fashionheaven/src/components/Header.css
fashionheaven/src/components/Header.tsx
fashionheaven/src/components/Layout.tsx
fashionheaven/src/pages/Admin.css
fashionheaven/src/pages/Admin.tsx
fashionheaven/src/pages/Auth.css
fashionheaven/src/pages/Cart.css
fashionheaven/src/pages/Cart.tsx
fashionheaven/src/pages/Contact.tsx
fashionheaven/src/pages/Home.tsx
fashionheaven/src/pages/Login.tsx
fashionheaven/src/pages/News.tsx
fashionheaven/src/pages/Products.css
fashionheaven/src/pages/Products.tsx
fashionheaven/src/pages/Profile.css
fashionheaven/src/pages/Profile.tsx
fashionheaven/src/pages/Register.tsx
fashionheaven/src/pages/Trends.tsx
fashionheaven/src/pages/TrendsNewsContact.css
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/chi_ti_t_s_n_ph_m_fashionheaven/code.html
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/chi_ti_t_s_n_ph_m_fashionheaven/screen.png
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/crimson_sartorial/DESIGN.md
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/danh_m_c_kh_m_ph_fashionheaven/code.html
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/danh_m_c_kh_m_ph_fashionheaven/screen.png
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/fashionheaven_brand_logo/screen.png
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/gi_h_ng_t_h_ng_fashionheaven/code.html
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/gi_h_ng_t_h_ng_fashionheaven/screen.png
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/portrait_photo_of_a_chic_modern_asian_fashion_woman_in_stylish_elegant_attire/screen.png
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/trang_ch_fashionheaven/code.html
stitch_fashion_commerce_ui_redesign/stitch_fashion_commerce_ui_redesign/trang_ch_fashionheaven/screen.png
